.lesson {
    background-color: lemonchiffon;
}

.title {
    color: green;
}

#email {
    background-color: goldenrod;
}

#github {
    background-color: lightsteelblue;
}

#portfolio {
    background-color: darkorange;
}
